# raw data files
*.gif
*.fits

# raw feature files
*.csv

# output from read_data.py
read_data_out/
*.npy

# output from run_cnn
run_cnn_out/
*.hd5
*.fit

# results files
*.txt

# batch scripts
*.sh
*.sl
